/target
**/*.rs.bk
.DS_Store
__pycache__/
*.py[cod]

/dist

# Web
/web/node_modules
/web/dist
/web/src/wasm_pkg
web/test-results
# Desktop
/desktop/node_modules
/desktop/dist

# Native Windows
/windows/**/bin
/windows/**/obj

.env
